<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Klostermark Projektstöd</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="assets/css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-cloak ng-app="myApp" ng-controller="mainCtrl">

  <md-sidenav md-component-id="left" class="md-sidenav-left" ng-if="authorized">
    <md-list-item ng-click="navigate('/companies')">
      <md-icon>cached</md-icon>
      <p>Kunder</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="navigate('/settings')">
      <md-icon>settings</md-icon>
      <p>Systeminställningar</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-sidenav>

  <md-content ng-if="authorized">
    <md-toolbar class="md-default-theme">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Meny" ng-click="openLeftMenu()">
          <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span>Klostermark Projektstöd</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Select project" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button>
                <p>Projektstöd</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button disabled="disabled">
                  <md-icon>school</md-icon>
                  Academy
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item ng-click="navigate('/account')">
              <md-button>
                <md-icon>settings</md-icon>
                Kontoinställningar
              </md-button>
            </md-menu-item>
            <md-menu-item ng-click="logout()">
              <md-button>
                <md-icon>exit_to_app</md-icon>
                Logga ut
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </md-content>

  <main>
    <div ng-view></div>
  </main>

  <footer>Projektstöd v<span app-version></span></footer>

  <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.x/angular.min.js"></script>
<script src="//cdn.firebase.com/js/client/2.2.x/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/1.0.x/angularfire.min.js"></script>
-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/firebase/firebase-debug.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>

  <script src="assets/js/app.js"></script>

</body>
</html>
