<div class="container">
  <md-card>
    <md-list>
      <md-list-item ng-click="navigateTo()">
        <p>Data Usage</p>
        <md-icon>mode_edit</md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="navigateTo()">
        <p>Data Usage</p>
        <md-icon>mode_edit</md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="navigateTo()">
        <p>Data Usage</p>
        <md-icon>mode_edit</md-icon>
      </md-list-item>
    </md-list>
  </md-card>
</div>

<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Lägg till kategori">
  <md-icon>add</md-icon>
</md-button>