<div class="container">
  <md-card>
    <md-card-content>

      <div ng-if=" ! task">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" style="margin:auto">
        </md-progress-circular>
        <p style="text-align:center">Laddar kategori</p>
      </div>

      <form name="updateTaskForm" ng-submit="submit(updateTaskForm)" ng-if="task" novalidate>

        <md-input-container>
          <label>Namn</label>
          <input type="text" name="name" ng-model="task.name" required>
          <div ng-messages="updateTaskForm.name.$error" ng-show="updateTaskForm.name.$touched || status === 'invalid'">
            <div ng-message="required">Du måste ange att namn.</div>
          </div>
        </md-input-container>

        <div class="md-actions" layout="row" layout-align="end center">
          <span ng-show="status === 'invalid'">
            Formuläret var inte korrekt ifyllt.
          </span>
          <md-button
            class="md-primary md-raised"
            type="submit"
            ng-disabled="updateTaskForm.$pristine"
            aria-label="spara"
          >

            <span ng-if="updateTaskForm.$pristine">
              <span ng-if="status === 'pristine'">
                <!-- första gången -->
                Inget ändringar att spara
              </span>
              <span ng-if="status !== 'pristine'">
                <!-- första gången -->
                Ändringar sparade
              </span>
            </span>
            <span ng-if=" ! updateTaskForm.$pristine">Spara</span>
            <span ng-if="status === 'submiting'">Sparar</span>

          </md-button>
        </div>

      </form>

    </md-card-content>
  </md-card>
</div>



<!-- <div class="container">
  <md-card>
    <md-card-content>
      <form>
        Redigera subcategory
        <md-input-container>
          <label>Namn</label>
          <input type="text">
        </md-input-container>
        <md-input-container>
          <label>Beskrivning</label>
          <textarea></textarea>
        </md-input-container>
        <p>autocomplete (ng-material) som hämtar från huvudkategorier</p>
        <p>Förändring i rutin om denna checkas syns ett nytt VARFÖR fält under.</p>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-primary md-raised">Spara</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div> -->