<div class="container">
  <md-card>
    <md-card-content>
      <form>
        Redigera subcategory
        <md-input-container>
          <label>Namn</label>
          <input type="text">
        </md-input-container>
        <md-input-container>
          <label>Beskrivning</label>
          <textarea></textarea>
        </md-input-container>
        <p>autocomplete (ng-material) som hämtar från huvudkategorier</p>
        <p>Förändring i rutin om denna checkas syns ett nytt VARFÖR fält under.</p>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-primary md-raised">Spara</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>