<div>
  <md-content>
    <md-tabs md-center-tabs="false" md-dynamic-height md-border-bottom class="md-default-theme md-primary md-hue-1">
      <md-tab label="Moment">
        <md-content>
          <div class="container margin-top">

            <div ng-if=" ! company.name" class="spinner">
              <md-progress-circular class="md-hue-2" md-mode="indeterminate" style="margin:auto">
              </md-progress-circular>
              <p style="text-align:center">Laddar Företag</p>
            </div>

            <div ng-if="company.name">

              <p ng-if=" ! company.categories">För närvarande finns inga moment kopplde till denna kund.</p>

              <form name="activitiesForm" ng-if="company.categories">

                <md-input-container class="month-selector">
                  <label>Månad</label>
                  <input type="month" name="date" ng-model="month" ng-change="loadActivities(month)" required>
                  <div ng-messages="activitiesForm.date.$error">
                    <div ng-message="required">Var god välj en månad.</div>
                  </div>
                </md-input-container>
                
                <div ng-repeat="category in company.categories" ng-if="dateSelected">
                  <span class="category-title">{{ category.name }}</span>
                  <md-card>
                    <md-list ng-if="category.tasks">
                      <md-list-item ng-repeat-start="(taskId, task) in category.tasks">
                        <md-checkbox ng-disabled="true" ng-if="loadingActivities"></md-checkbox>
                        <md-checkbox
                          ng-model="activities[taskId]"
                          aria-label="Markera som avklarad"
                          ng-change="activityChange(taskId)"
                          ng-if=" ! loadingActivities"
                        ></md-checkbox>
                        <p>{{ task.name }}</p>
                        <!-- description -->
                        <md-icon
                          ng-click="showTask(task)"
                          ng-class="[md-secondary, {changed: task.notification}]"
                          aria-label="Visa momentbeskrivning"
                        >
                          message
                           <md-tooltip ng-if="task.notification">
                            Ny rutinförändring!
                          </md-tooltip>
                        </md-icon>
                      </md-list-item>
                      <md-divider ng-if=" ! $last" ng-repeat-end></md-divider>

                    </md-list>
                  </md-card>
                </div>
              </form>

            </div>

          </div>
        </md-content>
      </md-tab>
      <md-tab label="Kundinformation">
        <md-content class="md-padding">
          <div class="container margin-top">
            <md-card>
              <md-card-content>
                <div ng-if=" ! company.name" class="spinner">
                  <md-progress-circular class="md-hue-2" md-mode="indeterminate" style="margin:auto">
                  </md-progress-circular>
                  <p style="text-align:center">Laddar Företag</p>
                </div>

                <div ng-if="company.name">
                  <h2>{{ company.name }}</h2>
                  Kundansvarig: {{ company.accountManager }} <br>
                  Eu-försäljning: {{ company.EUSales ? 'Bolaget har haft EU-försäljning' : 'Bolaget har inte haft EU-försäljning'}} <br>
                  Bokföringsmetod: {{ company.accountingMethod }} <br>
                  Bank: {{ company.bank }} <br>
                  {{ company.brokenFiscalYear ? 'Räkneskapsåret är brutet och har sitt första bokslut' : 'Obrutet räkneskapsår' }}
                  {{ company.closingMonth ? company.closingMonth : '' }} <br>
                  Arbetsgivare: {{ company.employer ? 'Arbetsgivare' : 'Ingen arbetsgivare' }} <br>
                  Löner: {{ company.wages ? 'Löner' : 'Inga löner' }}<br>
                  {{ company.extendedFiscalYear ? 'Förlängt räknaskapsår till och med' : 'Räkneskapsåret är inte förlängt.' }}
                  {{ company.firstClosing ? company.firstClosing : '' }} <br>
                  Momsperiod: {{ company.monthlyVAT }} <br>
                  <md-divider></md-divider>
                  Kontaktperson: {{ company.contactPerson }} <br>
                  Telefonnummer: {{ company.contactPhone }} <br>
                  E-postadress: {{ company.submissionTemplate }} <br>
                  Faktureringsadress: {{ company.invoiceAddress }} <br>

                </div>
              </md-card-content>
            </md-card>
          </div>

        </md-content>
      </md-tab>
<!--       <md-tab label="Löner">

        <div class="container">
          <md-card>
            <md-list>
              <md-list-item ng-click="navigateTo()">
                <p>Data Usage</p>
                <md-icon>mode_edit</md-icon>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item ng-click="navigateTo()">
                <p>Data Usage</p>
                <md-icon>mode_edit</md-icon>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item ng-click="navigateTo()">
                <p>Data Usage</p>
                <md-icon>mode_edit</md-icon>
              </md-list-item>
            </md-list>
          </md-card>
        </div>

        <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Lägg till löneuppdrag">
          <md-icon>add</md-icon>
        </md-button>
      </md-tab> -->
    </md-tabs>
  </md-content>
</div>