<div class="container">
  <md-card>
    <md-card-content>
      <form>
        <md-input-container>
          <label>Namn:</label>
          <input type="text">
        </md-input-container>
        <p>Autocomplete med chips där man kan välja flera huvudkategorier som är aktiva för denna kund. https://material.angularjs.org/latest/#/demo/material.components.chips</p>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-primary md-raised">Spara</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>