<section layout="row" layout-sm="column">
  <md-card flex="33" flex-sm="100">
    <div class="md-card-image top md-padding" layout="row" layout-align="start end">
      <h2 class="md-title">Moment</h2>
    </div>
    <md-card-content>
          <p>
            Moment utgör basen i det aktiviteter projektstödet knyter till kundernas företag. Ett moment kan vara till exempel "Lämna in bokföringsunderlag". Varje moment kan ha obegränsat med undermoment, eller steg om man så vill kalla det.
          </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Redigera</md-button>
    </div>
  </md-card>

  <md-card flex="33" flex-sm="100">
    <div class="md-card-image top md-padding" layout="row" layout-align="start end">
      <h2 class="md-title">Undermoment</h2>
    </div>
    <md-card-content>
          <p>
            Undermomenten utgör steg som ingår i varje huvudmoment.
          </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Redigera</md-button>
    </div>
  </md-card>
</section>